.header{
    color: rgb(230, 49, 17);
    text-align: center;
    font-family: 'Zen Dots', serif;
    font-size: 45px;
} 

.albert{
    border-color: rgb(50, 209, 201);
    
}

h5{
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'New Tegomin', serif;
    margin: 0px;
    text-decoration: underline;
}

p{
   font-style: italic;
   font-size: 20px; 
}

h1{
    font-family: 'Courgette', serif;
}

.bio1{
    border: solid;
    border-color: indigo;
    box-shadow: indigo;
}

img{
    width: 350px;
    height: 350px;
    margin: 10px;
    float: right;
    border: solid;
    border-style: inset;
    border-width: 5px;
}

.bio2{
    border: solid;
    border-color: f21170;
    box-shadow: f21170;
}

.rmn{
    border-color: ff6701;
}